VITE_MAILCHIMP_ACTION=https://bemarvelousdigital.us9.list-manage.com/subscribe/post?u=fe54163fcf84aea5b7b950b46&id=6c3a9dae75&f_id=003f55e1f0
VITE_MAILCHIMP_HONEYPOT=b_fe54163fcf84aea5b7b950b46_6c3a9dae75
VITE_META_PIXEL_ID=2972701316445393
VITE_MAILCHIMP_TAG_ID=
